<section class="comments">
  {{!-- <a href="/comments/{{id}}"> --}}
  <div x-data="annotation()">
        <div class="relative">
          <img src="/images/matroyshka-web.jpeg" x-spread="image">
          
          <template x-for="note in notes" :key="note.id">
            <div
              class="absolute w-6 h-6 border border-white rounded-full shadow-outline"
              :style="markerStyle(note)"
              @click="toggleNote(note)">
              
              <div
                x-show="note.visible"
                class="relative z-10 block w-48 mt-2 ml-2 space-y-2 divide-y bg-white rounded overflow-hidden"
                @click.stop.away="toggleNote()">
                
                <template x-for="comment in note.comments">
                  <p x-text="comment.text" class="px-4 pt-2 text-gray-800"></p>
                </template>
                
                <input
                  x-model="newComment"
                  placeholder="Type new comment"
                  class="w-full px-4 py-2 first:pt-2 bg-gray-300 focus:bg-gray-400 focus:outline-none"
                  @keydown.enter="addComment(note)">
              </div>
      
            </div>
          </template>
                
            </div>
        </div>
      </div>
      <p class="p-2 text-sm text-gray-700 italic">
        Add comments to the existing marker or click anywhere on the image to add new markers.
      </p>
      <button id="clearBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        Clear all annotations
      </button>
  </a>
</section>