  {{!-- <div class="cubby">
    <div class="background-image" style="background-image: url(../public/images/bookcase-single.jpeg); 
background-repeat: no-repeat;background-attachment: fixed; background-size:cover;"> --}}
    <section class="card">
      <a href="/comments/{{id}}">
        <img src="/images/{{filename}}" alt="{{description}}">
        <header>{{title}}</header>
      </a>
    </section>
  {{!-- </div>
</div> --}}