 <div class="cubby"> 
    <section class="card">
      <a href="/comments/{{id}}">
        <img class="img" src="/images/{{filename}}" alt="{{description}}">
        <header>{{title}}</header>
      </a>
    </section>
  </div>
