:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --lightwood: #B48D51;
  --blondewood: #FFDDA1;
  --walnut: #5A3300;
  --darkwood: #321414;
  --ebony: #140000;

  --border-radius: 0.3rem;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--ebony);
  background-image: url("../images/wallpaper.jpeg");
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.header {
  /* padding: 40px; */
  text-align: center;
  background: var(--blondewood);
  color: var(--darkwood);
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:60vw;
  height: 200px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--blondewood);
  color: var(--darkwood);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
} */

nav {
  display: flex;
  background-color: var(--lightwood);
}

nav a {
  color: var(--ebony);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.collection {
  flex: 4;
  /* background-color: #fff; */
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.img {
  width: 410px;
  height: 360px;
}

/* .collection {
  background-image: url("../images/bookcase-single.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:80vmin;
} */

.boxwrapper {
  padding: 20px;
  flex: 0 1 300px;
  z-index: 1;
  background-image: url("../images/bookcase-single.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 550px;
  height: 580px;
}

.artifacts {
  width: 40%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.image-details, .image {
  background-color: var(--lightwood);
  width: 98%;
}

.comments-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.cubby {
  padding: 20px;
  /* flex: 0 1 300px; */
  z-index: 1;
  background-image: url("../images/bookcase-single.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  margin-top: -10px;
  margin-right: -15px;
}

.card {
  margin: 10px;
  /* flex: 0 1 300px; */
  /* border: 7px double var(--dark);
  border-radius: 10px; */
  /* background-color: var(--light); */
  /* color: var(--dark); */
  z-index: 2;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--blondewood);
  color: var(--darkwood);
  width:30vw
}

.card header {
  color: var(--darkwood);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--blondewood);
  padding: 0.625rem;
  /* border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0; */
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.image-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--blondewood);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.title, .byline, .description {
padding-left: 20px;
}

#custom-btn, #custom-btn2 {
  background-color: var(--darkwood);
  color: var(--blondewood)
}
